@using System.Web.UI.WebControls
@model FoodRecipes.Models.Recipe

@{
    ViewBag.Title = "Create";
}
<style>
    input {
        width: 100%;
        margin-bottom: 0.75em;
        background-color:  #BEBBBB;
    }
    input[type="file"] 
    {
        font-family: monospace;
        font-size: xx-large;
        background-color: #BEBBBB; 
    }
</style>
<div style="margin-top: 2em">
        <ol class="breadcrumb">
            <li ><a href="@Url.Action("Index")">Home</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li class="active" ><a href="#" >Create</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
        </ol>
    </div>
<div class="container" style="margin-top: 2em">
    <div class="col-lg-2 col-xs-2">
        <img  class="img-responsive borderimage pull-left" src="~/Images/siteimg/CookingTipsPage.jpg"  alt=""  />
    </div>
    <div class="createform col-lg-8 col-xs-8" style="border: 1px   solid">
        @using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend style="text-align: center"><h1>Recipe</h1></legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CookingTime)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CookingTime)
                    @Html.ValidationMessageFor(model => model.CookingTime)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PeopoleNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PeopoleNumber)
                    @Html.ValidationMessageFor(model => model.PeopoleNumber)
                </div>
                <div>
            <div class="ingrediants">
                <div class="ingEntry">
                    <table>
                        <tr>
                           
                            <td>
                                <label for="Ingredients[0].Name">Ingredient Name:</label>
  
                                <input type="text" name="Ingredients[0].Name" />
                            </td>
                            <td>
                                <label for="Ingredients[0].Amount">Amount:</label>
                           
                                <input type="text" name="Ingredients[0].Amount" />
                            </td>
                            <td>
                                <label for="Ingredients[0].Unit">Unit:</label>
                           
                                <input type="text" name="Ingredients[0].Unit" />
                            </td>
                        </tr>

                    </table>

                    

                </div>
                  
            
          
            </div>  
            <input class="IngEntries_More btn btn-danger btn-sm" type="button" value="AddoneRow"  style="width: 20%;margin-top:-2em"/>     
        </div>

                
                <div class="editor-label">
                    @Html.LabelFor(model => model.FoodPreparation)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.FoodPreparation, new { @class = "textarea" })
                    @Html.ValidationMessageFor(model => model.FoodPreparation)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ImgPath)
                </div>
                <div>
                    <p>
                       
                        <input class="btn btn-default" type="file" id="file" name="file"  />
                    </p>
                    
                </div>
       
                

                <p>
                    <input type="submit" value="Create" class="btn btn-danger btn-lg" style="margin-bottom: 1em" />
                </p>
            </fieldset>
        }
    </div>
    <div class="col-lg-2 col-xs-2">
        <img class="img-responsive borderimage pull-right" src="~/Images/siteimg/SV cooking picture.jpg" alt=""/>
    </div>
</div>
<script id="current-ing-template" type="application/html-template">
 <div class="ingEntry">
 <table>
                        <tr>
                        <hr>
                            <td>
                <label for="Ingredients[{{Identifire}}].Name">Ingredient Name:</label>
                <input type="text" name="Ingredients[{{Identifire}}].Name" />
                 </td>
                            <td>
                <label for="Ingredients[{{Identifire}}].Amount">Amount:</label>
                <input type="text" name="Ingredients[{{Identifire}}].Amount" />
                 </td>
                            <td>
                <label for=".Ingredients[{{Identifire}}].Unit">Unit:</label>
                <input type="text" name="Ingredients[{{Identifire}}].Unit" />
                 </td>
                            
            </div>
</script>           
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script type="text/javascript">

        $(function () {
            $('.IngEntries_More').on("click", function () {


                var newrow = $('#current-ing-template').clone();
                // $(this).parents('.ingredient-row').parent().append('#template-ing');

                //                  $(this).parents('.ingredient-row').remove();
                var NLId = $('.ingEntry').size();
                var template = $('#current-ing-template').clone().html();
                var html =
                            template

                                .replace(/{{Identifire}}/g, NLId);

                $('.ingEntry').parent().append(html);


            });
        });

    </script>
}
