
@using System.Data
@using System.Threading
@using FoodRecipes.Controllers
@using Microsoft.Ajax.Utilities
@model FoodRecipes.Models.Recipe

@{
    ViewBag.Title = "RecipeDetails";
}
@{
    
    var recipetemp = Model;
    var ingId = 0;
    
}
<head>
    <title></title>
  @*  <script src="../../Scripts/RecipeDetails.js"></script>*@
</head>
<br/>
<div style="margin-top: 2em">
        <ol class="breadcrumb">
            <li ><a href="@Url.Action("Index")">Home</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li ><a href="@Url.Action("Search")" >search</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li class="active"><a href="#">RecipeDetails</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li ><a href="@Url.Action("Edit","Recipe",new{id=recipetemp.Id})">Edit</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
        </ol>
    </div>
<h1 >RecipeDetails</h1>

<div class="partialRecipeView" id="viewtoreplace">
    @Html.Partial("_RecipePart",Model)
</div>
<div class="row">
    
    <div class=" col-lg-8 col-lg-push-2 container ">

        <div class="patialcommentsview">
            @foreach (var item in Model.Comments)
            {
                @Html.Partial("CommentPart", item)
            }
        </div>
    </div>
</div>


<div class="row">
    
    <div class="insercomments col-lg-8 col-lg-push-2 container ">
       <div class="commentPart panel panel-primary">
            @using (Html.BeginForm("AddComment", "Recipe"))
            {
                <div class="panel-heading" style="background-color: blue">
                    <h2 class="panel-title" style="color: black"><strong>Enter your Name&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBox("UserName")<span class="small" style="color: black"> this name will not apper</span></strong></h2>
                </div>
                <div class="panel-body" >
                    <p>
                        Enter your Nick Name @Html.TextBox("NickName")<span class="small">this name will apper</span>
                    </p>
                   
                    <style>
                        textarea {
                            width: 80%;
                            height: 10em
                        }
                    </style>
                    <hr/>
                  <p><strong> Title:</strong> @Html.TextBox("CommentTitle")</p>
                    
                    <p>@Html.TextArea("UserComment","Enter your comment here.......")</p>
                     @Html.Hidden("newcommentId",recipetemp.Id)
                </div>
                <button type="button" class="addnewcomment btn btn-primary" style="margin-bottom: 1em; margin-left: 1em"> Add comment</button>
            }

        </div>

        
            
        
        

  
    </div>
</div>




<script id="current-rate-template" type="application/htm-template">
<p class="current-rate"  style="margin-left: 8em">
    <span>
        Current Rate:{{FRate}}
    </span>
    <span>
        [{{NNum}} peolpe]
    </span>
</p>
</script>
<script type="text/javascript">
    document.querySelector('.starrating').addEventListener('mouseover', function(e) {
        // console.log(e.target);
        switch (e.target.id) {
        case "img5":
        {

            document.getElementById('img5').style.display = "none";
            document.getElementById('img5_on').style.display = "inline";

        }
        case "img4":
        {
            document.getElementById('img4').style.display = "none";
            document.getElementById('img4_on').style.display = "inline";
        }
        case "img3":
        {

            document.getElementById('img3').style.display = "none";
            document.getElementById('img3_on').style.display = "inline";
        }
        case "img2":
        {
            document.getElementById('img2').style.display = "none";
            document.getElementById('img2_on').style.display = "inline";
        }
        case "img1":
        {
            document.getElementById('img1').style.display = "none";
            document.getElementById('img1_on').style.display = "inline";
            break;

        }
        default:
        }
        e.target.addEventListener('mouseout', function outhandler(d) {
            //  console.log(d.target);
            switch (d.target.id) {
            case "img5":
            {

                document.getElementById('img5').style.display = "inline";
                document.getElementById('img5_on').style.display = "none";

            }
            case "img4":
            {
                document.getElementById('img4').style.display = "inline";
                document.getElementById('img4_on').style.display = "none";
            }
            case "img3":
            {

                document.getElementById('img3').style.display = "inline";
                document.getElementById('img3_on').style.display = "none";
            }
            case "img2":
            {
                document.getElementById('img2').style.display = "inline";
                document.getElementById('img2_on').style.display = "none";
            }
            case "img1":
            {
                document.getElementById('img1').style.display = "inline";
                document.getElementById('img1_on').style.display = "none";
                break;

            }
            default:
            }
            e.target.removeEventListener('mouseout', outhandler, false);
        }, false);
    }, false);
    document.querySelector('.starrating').addEventListener('mousedown', function(e) {
        console.log(e.target);
        console.log(e.target.id);


        var rateValue;
        var reid = @recipetemp.Id;
        switch (e.target.id) {
        case "img5_on":
        case "img5":
        {
            rateValue = 5;
            break;
        }
        case "img4":
        case "img4_on":
        {
            rateValue = 4;
            break;
        }
        case "img3":
        case "img3_on":
        {
            rateValue = 3;
            break;
        }
        case "img2":
        case "img2_on":
        {
            rateValue = 2;
            break;
        }
        case "img1":
        case "img1_on":
        {
            rateValue = 1;
            break;

        }
       
        }
          
        $.ajax({
                type: "POST",
                //url: form.attr('action'),
                url:"@Url.Action("Rate","Recipe")",
         
                data: {
                    ReId: reid,
                    RateValue: rateValue,
                }
//                data: form.serialize()
            })
            .success(function (data) {
                //alert("your rate has been submitted");
                var template = $('#current-rate-template').clone().html();
                var html =
                    template
                   
                        .replace('{{FRate}}',data.FRate1)
                        .replace('{{NNum}}', data.NNum);


                $('.current-rate').replaceWith(html);
            })
            .error(function () {
                alert("your rate has been rejected");
            });

           
    });
    ///////////////////////////////
    document.querySelector('.renewPeopleNumber').addEventListener('click', function(e) {
        console.log(e.target);
   
        var form = $(this).parent("form");

        $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize()
            })
            .success(function(data) {
                var list = data.newamountlist;
                console.log(list);
                if(list)
                {
                    console.log(e.target.className);
                    console.log(list);
                    $.each(list, function (index, item) {
                        var counter = '#amounttichange' + index;
                        $(counter).text(item);});
                } 
                else {
                    console.log(e.target.className);
                    $('#viewtoreplace').html(data);
                }
                      
  
            })
            .error(function() {
                alert("your rate has been rejected");
            });

    });

</script>   
<script type="text/javascript">
document.querySelector('.addnewcomment').addEventListener('click', function(e) {
        //e.preventDefault();
        console.log(e.target);
         var form = $(this).parent("form");
         
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddComment","Recipe")",
            data: form.serialize(),
           //data:{ada:2},
            
        })
                    .success(function(data) {
                       console.log(e.target.className);
                             $('.patialcommentsview').append(data);
                    })
                    .error(function() {
                     console.log(e.target.className);
                        alert("your rate has been rejected");
                    });

    });
    </script>
