@model IEnumerable<FoodRecipes.Models.Recipe>
@{
    ViewBag.Title = "Search";
    
}

 <div class="container"> 
<div class="row" style="margin-top: 3em">
   
    <aside class="col-lg-3 col-md-4 searchaside" style="border: 1px solid ;margin-left: -5em">
        @using (Html.BeginForm())
        {
            <fieldset>
                <div class="editor-label">
                    @Html.Label("Categories")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("category", (SelectList)ViewBag.searchlist)
          
                </div>
                <div class="editor-label">
                    @Html.Label("Value")
                </div>
                <div class="editor-field">
                    @Html.TextBox("searchPattern", "")
                    @Html.ValidationMessage("searchPattern") 
                </div>
                <p>
                    <input type="submit" value="Search" />
                </p>
   
            </fieldset>
        }
        
    </aside>
        <article class="col-lg-9 col-md-8" style="border: 2px solid;margin-left: 5em">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-5 thumbnail"  >
                    @{
                        string pa = item.ImgPath;
                    }
                    <img src="@Url.Content(pa)" class="img-responsive"alt="" >
                    <p style="text-align: center">@item.Title</p>
                    
                  
                </div>
            }
        
        </article>
        </div>
</div>